
body {
  margin: 0px;
  height: 100%;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 1ex 2em;
  background-color: #fafafa;
  border: 0px;
  box-shadow: 0.0px 0.0px 4px #666;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  font-family: sans-serif;
  font-size: small;
}

#context-submit-button {
  margin-top: 2ex;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 3%;
  height: 100%;
}

.context-label {
  font-family: sans serif;
  font-size: small;
  color: #777;
  display: inline-block;
  width: 9em;
  text-align: right;
  padding-right: 1.5em;
}
.context-input {
  color: #273;
  font-weight: bold;
  font-family: monospace;
  margin-right: 2em;
}

.context-input::placeholder {
  color: #777;
  opacity: 1;
  font-weight: normal;
}

.context-entry {
  padding: 0.5ex 0em;
}

#context-form-inner-container {
  display: flex;
  flex-direction: row;
  /*border: 1px solid #cbcbcb;
  border-radius: 4px; */
  padding: 2ex 0em;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nowrap {
  white-space: nowrap;
}

.vcenter {
  display: inline-flex;
  align-items: center
}

.title {
  text-align: center;
  font-family: sans-serif;
  color: #666;
  padding-top: 2ex;
  padding-bottom: 1.25ex;
}

.menu-tab.active {
  background-color: #ddecf9;
}

.menu-tab:hover {
  background-color: #eef7ff;
}

.menu-tab.active:hover {
  background-color: #ddecf9;
}

div#menu-bar {
  padding: 0px 3%;
  box-shadow: 0px 0.5px 5px #333;
}

#logo {
  font-weight: bolder;
  font-size: x-large;
}

#version {
  padding-left: 0.5em;
  font-weight: normal;
  font-size: large;
  color: #666;
}

.hidden {
  display: none !important;
}

input#event-search {
  width: 100%;
  margin: 1.5ex 0px;
  box-sizing: border-box;
}

button {
  font-weight: bold;
  padding-top: 1ex;
  padding-bottom: 1ex;

  border: 0px solid black;
  background-color: white;

  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #eef7ff;
}


button.event-selector {
  font-weight: bold;
  padding: 0.75ex 0.35em;

  border: 0px solid black;
  background-color: white;
  color: #999;

  font-size: 16px;
  cursor: pointer;
}

button.event-selector.active:hover {
  background-color: white;
}


button.event-selector:hover {
  background-color: white;
}

button.event-selector.active {
  color: #080
}

.column {
  margin: 0px 1em;
}

#events-history-buttons {
  display: flex;
  justify-content: right;
  width = 100%;
  margin-top: 1.5ex;
}

a.button {
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 1.2;
}

#events-table-column {
  width: 22em;
}

#event-details-column {
  width: 27em;
}

#menu-bar {
  display:flex;
  justify-content: space-between;
}

button.menu-tab {
  padding: 1ex 1em;
  height: 100%;
}

#menu-connection {
/*  position: relative; */
/*  display: inline-block; */
  justify-content: end;
  min-width: 250px;
}

#menu-connection-change {
  position: absolute;
  background-color: #fff;
  box-shadow: 0.0px 0.0px 4px #666;
  z-index: 1;
  top: 50px;
  padding: 0ex 1em;
  padding-bottom: 1ex;
}

#menu-connection-direct {
  width: 100%;
  box-sizing: border-box;
}

#menu-connection-status {
  font-family: sans-serif;
  color: #b34e4e;
  font-weight: bold;
  font-size: small;
  text-align: right;
  max-width: 250px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#menu-connection-status:hover {
  cursor: pointer;
}

#menu-connection-status.connected {
  color: green;
}

.container {
/*  width: 100%; */
  box-sizing: border-box;
  padding: 1ex 1em;
  box-shadow: 0.0px 0.0px 4px #666;
}

.container-title {
  margin-bottom: 1ex;
  text-align: center;
}


/* EVENTS TABLES */

table.event-table {
  font-family: monospace;
  font-size: normal;
  border-collapse: collapse;
  overflow-y: auto;
  display: block;
}

tr.event-table-row {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 1.25em;
  border-radius: 4px;
}

td.event-table-index {
  color: #777;
  font-weight: bold;
  padding-right: 0.5em;
  padding-left: 1em;
}

td.event-table-time {
  color: #162;
  padding-right: 1.0em;
  font-weight: bold;
}

td.event-table-content {
  color: #333;
  padding-right: 1em;
}

tr.event-table-row:hover {
  background-color: #eef7ff;
}

tr.event-table-row.active {
  background-color: #ddecf9;
}

div#events-table-selectors {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

table#events-event-table {
  max-height: 350px;
}
table#context-event-table {
  max-height: 600px;
}
table#contests-event-table {
  max-height: 600px;
}


/* Contests ranking table */

table#contests-results-table {
  font-family: monospace;
  border-collapse: collapse;
}

table#contest-results-meta-table {
  margin-top: 2.5ex;
  font-family: monospace;
  border-collapse: collapse;
}

table#contests-matches-table {
  font-family: monospace;
  text-align: center;
  border-collapse: collapse;
}

td.contests-first-row {
  border-bottom: 2px solid #777;
}

td.contests-first-col {
  border-right: 2px solid #777;
}

td.contests-matches-index {
  font-weight: bold;
  color: #777;
  width: 2em;
  height: 2em;
}

.contests-matches-entry {
  border-radius: 5px; */
  font-weight: bold;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.neutral {
  color: #777;
}


pre#event-details {
  margin: 0px 0px;
  overflow-x: auto;
  min-height: 10ex;
  font-size: 8pt;
}


.u-legend {
  width: 500px;
  font-size: small;
  margin-top: -3ex;
  margin-bottom: 2ex;
  position:relative;
}

.u-label {
  font-weight: normal;
  padding-bottom: 0.32ex;
}

div.u-marker {
  width: 1.0em !important;
  height: 0.5em !important;
  margin-right: 0.35em !important;
  border: 3px solid transparent; 
}

select option {
  background: white;
}

.u-inline.u-live th::after {
  content: "" !important;
}


.u-title {
  font-size: small;
  color: #666;
  height: 0px;
  overflow: visible;
  /* font-weight: normal; */
}

.u-value {
  font-size: small;
  font-family: monospace;
}



